<div>
    <h1>Task:</h1>
    {{task}}
</div>
<div>
    <h2>Result:</h2>
    {% if result %}
        {% for elem in result%}
            {{elem}}
        {% endfor %}
    {% else %}
        <p>No result.</p>
    {% endif %}
</div>